<% if bubble.image.attached? %>
  <%= button_to bucket_bubble_image_path(bubble.bucket, bubble), method: :delete, class: "btn" do %>
    <%= icon_tag "picture-remove" %>
    <span class="for-screen-reader">Clear background image</span>
  <% end %>
<% else %>
  <%= form_with model: bubble, url: bucket_bubble_path(bubble.bucket, bubble), data: { controller: "form" } do |form| %>
    <label class="btn">
      <%= icon_tag "picture-add" %>
      <span class="for-screen-reader">Add background image</span>
      <%= form.file_field :image, class: "input",
            accept: "image/png, image/jpeg, image/jpg, image/webp",
            data: { action: "upload-preview#previewImage form#submit", upload_preview_target: "input" },
            hidden: true %>
    </label>
  <% end %>
<% end %>
